*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
.container{
    
}
/* Header Section With Nav and Banner start */
.header_main{

}
.banner_hero{

}
.nav_sec{

}
.logo{

}
.banner_top_text{
    
}